<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='../static/chatroom.css'>
        <title>Roundtable</title>
    </head>
    <body>
        <div class='header'>
            <h1>Roundtable Chat</h1>
            <p>(title courtesy of Adam Watters)</p>
            <h3>As it please you, mightest thou print thy thoughts in letters below.</h3>
        </div>
        <div class='chatcontainer'>
            <div id='chatbox' class='chatbox'>
                <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'>I think blah blah is super important.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User72:</div>
                    <div class='usertext'>I think blah blah is super UNimportant.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'><p>I think blah blah is super important, so much so that I'm writing lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines about it.</p>
                    <p>And here's another thought!</p></div>
                    <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'>I think blah blah is super important.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User72:</div>
                    <div class='usertext'>I think blah blah is super UNimportant.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'><p>I think blah blah is super important, so much so that I'm writing lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines about it.</p>
                    <p>And here's another thought!</p></div>
                    <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'>I think blah blah is super important.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User72:</div>
                    <div class='usertext'>I think blah blah is super UNimportant.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'><p>I think blah blah is super important, so much so that I'm writing lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines about it.</p>
                    <p>And here's another thought!</p></div>
                    <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'>I think blah blah is super important.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User72:</div>
                    <div class='usertext'>I think blah blah is super UNimportant.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'><p>I think blah blah is super important, so much so that I'm writing lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines about it.</p>
                    <p>And here's another thought!</p></div>
                    <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'>I think blah blah is super important.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User72:</div>
                    <div class='usertext'>I think blah blah is super UNimportant.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'><p>I think blah blah is super important, so much so that I'm writing lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines about it.</p>
                    <p>And here's another thought!</p></div>
                    <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'>I think blah blah is super important.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User72:</div>
                    <div class='usertext'>I think blah blah is super UNimportant.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'><p>I think blah blah is super important, so much so that I'm writing lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines about it.</p>
                    <p>And here's another thought!</p></div>
                    <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'>I think blah blah is super important.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User72:</div>
                    <div class='usertext'>I think blah blah is super UNimportant.</div>
                </div>
                <div class='monologue'>
                    <div class='username'>User76:</div>
                    <div class='usertext'><p>I think blah blah is super important, so much so that I'm writing lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines and lines about it.</p>
                    <p>And here's another thought!</p></div>
                </div>
            </div>
        </div>
        <div class='footer'>
            <div class='inputrow'>
                <input class='inputbox' type='text' name='input' placeholder='Would that thou sing thy songs right here'>
                <button type='button' name='submit'>
                    <div class='submitbutton'>Zounds!</div>
                </button>
            </div>
            <p>Forsooth, some undertext mayhap should inhabit this place.</p>
        </div>
    </body>
</html>