<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href='{{ url_for('static', filename='chatroom.css') }}'>
        <title>Roundtable</title>
    </head>
    <body>
        <div class='header'>
            <h1>Roundtable Chat</h1>
            <p>(title courtesy of Adam Watters)</p>
            <h3>As it please you, mightest thou print thy thoughts in letters below.</h3>
        </div>
        <div class='chatcontainer'>
            <div id='thebox' class='chatbox'>
            </div>
        </div>
        <div class='footer'>
            <div class='inputrow'>
                <form id='theform'>
                    <input class='inputbox' id='input' type='text' name='input' placeholder='Would that thou sing thy songs right here' autofocus>
                    <button type='button' name='submit' onclick='sendchat()'>
                        <div class='submitbutton'>Zounds!</div>
                    </button>
                </form>
            </div>
            <p>Forsooth, some undertext mayhap should inhabit this place.</p>
        </div>
        <script src='{{ url_for('static', filename='jquery-1.11.1.js') }}'></script>
        <script>
            console.log( "Script starting!" );
            var usernum;
            var most_recent_speaker = '';

            if (!Date.now) {
                console.log( "Writing Date.now function" );
                Date.now = function() { return new Date().getTime(); };
            }
            else {
                console.log( "Date.now found!" );
            }

            $('#theform').submit(function(e) {
                e.preventDefault();
                sendchat();
            })

            function addChat( chats ) {
                if (chats.length > 0){
                    var allchats = [];
                    var chathtml = $('div.chatbox').html();
                    var chatsplit = chats.split('\n').slice(0, -1);
                    for (var c in chatsplit) {
                        var thepush = chatsplit[c].split('\t');
                        allchats.push(thepush);
                    }
                    if (allchats[0][0] === most_recent_speaker) {
                        chathtml = chathtml.slice(0, -12);
                    }
                    for (var c in allchats) {
                        thisnewchat = "<p>" + allchats[c][1] + "</p>"
                        if (allchats[c][0] != most_recent_speaker) {
                            thisnewchat = "</div></div><div class='monologue'><div class='username'>"  
                            + allchats[c][0] + ":</div><div class='usertext'>" + thisnewchat;
                        }
                        chathtml += thisnewchat;
                        most_recent_speaker = allchats[c][0];
                    }
                    chathtml += "</div></div>"
                    $('div.chatbox').html(chathtml);
                }
            }

            function checknew() {
                $.ajax({
                    url: "getnew",
                    data: 'user=' + usernum,
                    dataType: "text",
                    success: addChat,
                    type: 'POST',
                    error: function( xhr, status, errorThrown ) {
                        console.log( "Sorry, there was a problem!" );
                        console.log( "Error: " + errorThrown );
                        console.log( "Status: " + status );
                        console.dir( xhr );
                    },
                    complete: function( xhr, status ) {
                        console.log( "The request is complete!" );
                    }
                });
                console.log($('div.chatbox').scrollTop());
                $('div.chatbox').scrollTop($('div.chatbox').prop('scrollHeight'));
            }

            function aftersend(response) {
                console.log(response);
                document.getElementById('theform').reset();
                checknew();
            }

            function sendchat() {
                formstring = 'user=' + usernum;
                formstring += '&input=' + document.getElementById('input').value;
                $.post( "newchat", formstring, aftersend, 'html');
                console.log(formstring);
            }

            $( document ).ready(function() {
                lastUpdate = Date.now();
                console.log( "Time is " + lastUpdate);
                usernum = {{ usernames_length }};
                setInterval(checknew, 2500);
            });            
        </script>
    </body>
</html>